<div class="floating-popup" (click)="togglePopup()">
  <span>Contact</span>
</div>

<!-- Pop-Up Content -->
<div class="popup-content" [ngClass]="{'show': isPopupVisible}">

  <!-- Call Us Link -->
  <a href="tel:+919482539477" class="icon-link">
    <fa-icon [icon]="faPhone" size="2x" class="text-green"></fa-icon>
    <span>Call Us</span>
  </a>

  <a href="https://wa.me/919482539477" target="_blank" class="icon-link">
    <fa-icon [icon]="faWhatsapp" size="2x" class="text-green"></fa-icon>
    <span>WhatsApp</span>
  </a>

</div>

<button 
  class="scroll-to-top" 
  title="Back to Top" 
  *ngIf="showScrollTopButton" 
  (click)="scrollToTop()">
 <fa-icon [icon]="faArrowUp"></fa-icon>
</button>