<nav class="navbar">
  <a mat-raised-button href="#services">Services</a>
  <a mat-raised-button href="#projects">Projects</a>
  <a mat-raised-button href="#testimonials">Testimonials</a>
  <a mat-raised-button href="#anniversary">Anniversary</a>
  <a mat-raised-button href="#contact">Contact</a>
</nav>

<app-home></app-home>
<app-floating-popup></app-floating-popup>
<footer class="footer-container">
  <div class="footer-content">
    <mat-nav-list class="footer-links">
      <a
        *ngFor="let icon of socialIcons; let i = index"
        mat-list-item
        [href]="socialLinks[i]"
        target="_blank"
      >
        <fa-icon [icon]="icon" class="footer-icon"></fa-icon>
      </a>
    </mat-nav-list>
  </div>
  <p>&copy; 2024 All rights reserved.</p>
</footer>
