<div class="scrolling-banner">
  <div class="scrolling-text">
    <span>🏗️ Save 15% on complete site construction! </span>
    <span>📞 Contact us for a free site visit today. </span>
    <span>🎯 Waterproofing and renovation packages available! </span>
  </div>
</div>

<app-about id="about"></app-about>
<app-services id="services"></app-services>
<app-projects id="projects"></app-projects>
<!-- <app-testmonials id="testimonials"></app-testmonials>
<app-anniversary id="anniversary"></app-anniversary> -->
<app-contact id="contact"></app-contact>