.scrolling-banner {
  background-color: #FEBA4A;
  color: #333C4B;
  overflow: hidden;
  white-space: nowrap;
  padding: 12px 0;
  position: relative;
  font-weight: 600;
  font-size: 18px;
}

.scrolling-text {
  display: inline-block;
  animation: scrollText 20s linear infinite;
}

.scrolling-text span {
  margin-right: 100px;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
